.content{
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.custom{
  overflow: hidden;
}

.loginPanel{
  /*background-color: red;*/
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.center{
  background-color: white;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
